<h1>Pollen</h1>
<p>An easy way to contribute to a sustainable future.</p>

<% if user_signed_in? %>
  <%= button_to 'Log Out', logout_path %>
<% else %>
  <%= link_to 'Log In', new_session_path %>
<% end %>