<article>
  <header>
    <h1>Pollen</h1>
  </header>
  <main>
    <p>An easy way to contribute to a sustainable future.</p>
  </main>
</article>

<% if user_signed_in? %>
<!--  this should be moved to the navbar and should be set as a default 'profile page' below our main content -->
  <%= button_to 'Log Out', logout_path %>
<% else %>
  <%= link_to 'Log In', new_session_path %>
<% end %>