.field_with_errors textarea, .field_with_errors input {
  border: 1px solid var(--red);
}

#error_explanation {
  max-width: 400px;
  background-color: var(--jet-gray);
  border-radius: 3px;
  border: 1px solid var(--red);
  padding: 5px;
  box-shadow: -2px 2px var(--red);

  margin: auto auto 20px;

  h2 {
    color: var(--yellow);
    text-align: center;
    text-shadow: var(--small-shadow);
  }

  ul {
    text-align: left;
    color: whitesmoke;
  }

}