form.resource {
  background-color: var(--primary-dark);
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  display: inline-block;
  width: 75%;
  max-width: 600px;
  text-align: left;

  label {
    font-size: x-large;
    padding-right: 5px;
    color: white;
  }

  // Text Area
  textarea {
    height: 10.0em;
    width: 100%;
    margin-bottom: 20px;
    max-width: inherit;
  }

  // Generic Input
  input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-bottom: 20px;
    max-width: inherit;
  }

  // Text fields
  input[type='text'] {
    border-radius: 3px;
  }

  // Number Fields
  input[type='number'] {
    text-align: right;
    width: 100px;
    max-width: 150px;
  }

  // Submit button
  input[type='submit'] {
    padding: 5px;
    font-weight: 800;
    margin: auto;
    border-radius: 5px;
    background-color: var(--yellow);
  }

  input[type='submit']:hover {
    cursor: pointer;
  }

}