// Place all the styles related to the retailers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Used for the view when accessing /retailers and /retailers/:id
a {
  text-decoration: none;
}

// Product list for /retailers/:id
div.product {

  // card base
  background-color: darkgray;
  max-width: 300px;
  border-radius: 4px;
  padding-bottom: 5px;

  // title
  h3 {
    padding-top: 5px;
    text-align: center;
    color: red;
  }

  p {
    // description
    color: black;
    padding-left: 5px;
  }

  // price
  span {
    color: black;
    padding-left: 5px;
  }
}