// Place all the styles related to the retailers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Used for the view when accessing /retailers and /retailers/:id


// Retailers index page
a {
  text-decoration: none;
}

div#retailer-list {

  display: inline-flex;
  flex-direction: row;
  margin: auto;

  a {
    margin: 0 10px 0 10px;
  }

  a div.retailer {
    text-decoration: none;
    padding: 10px;
    background-color: var(--primary-dark);
    border-radius: 3px;

    h2 {
      text-align: center;
      color: white;
    }

    p {
      color: whitesmoke;
    }

    span {
      // This is where the most reviewed will be
    }
  }

  @media only screen and (max-width: 500px) {
    flex-direction: column;

    a {
      margin: 5px 5px 5px 5px;
    }
  }
}

div#product-list {

  display: inline-flex;
  flex-direction: row;
  margin: auto;

  a { margin: 0 10px 0 10px; }

  // Product list for /retailers/:id
  a div.product {

    // card base
    background-color: var(--primary-dark);
    max-width: 300px;
    border-radius: 4px;
    padding-bottom: 5px;

    // title
    h3 {
      padding-top: 5px;
      text-align: center;
      color: whitesmoke;
    }

    p {
      // description
      color: whitesmoke;
      padding-left: 5px;
    }

    // price
    span {
      color: whitesmoke;
      padding-left: 5px;
    }
  }

  @media only screen and (max-width: 500px) {
    flex-direction: column;

    a {
      margin: 5px 5px 5px 5px;
    }
  }
}

