// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

article {
  margin: auto;
  width: 100%;
  text-align: center;

  header {
    font-size: xxx-large;
    color: var(--yellow);
    text-shadow: 2px 2px var(--secondary-dark);

    h1 {
      margin-block-start: .6em;
      margin-block-end: .23em;
    }
  }

  main {
    p {
      font-size: x-large;
      color: white;
    }
  }

  footer {

  }

}