<nav>
  <ul>
    <%= nav_link 'Home', root_path %>
    <%= nav_link 'Retailers', retailers_path %>

    <% if user_signed_in? %>
      <%= nav_link 'Log Out', destroy_session_path, :post %>
    <% else %>
      <%= nav_link 'Log In', new_session_path %>
    <% end %>
  </ul>
</nav>